{% extends '../_home.twig' %} {% block titletag %}Home {% endblock %} {% block bodytag %}

<main class="Site-content">
{# <section class="about-container">
    <div class="container">
            <h2>About me</h2>
            <p>I’m Gursimran and I am passionate about UI UX, building things (mostly for the web and mobile) and celebrating the joy of designing. In my free time I am generally found running,
                 doing courses or trying out new design courses</p>
    </div>
</section>
<section class="technology">
    <div class="container">
        <h3 class="technology--heading">Tools I use </h3>
               {% for i in 0..3 %}
                {%  include '../components/technology.twig' %} 
                {% endfor %}               
    </div>
</section> #}
</main>

{% endblock %}