{% extends '../_home.twig' %} {% block titletag %}Home {% endblock %} {% block bodytag %}

<main class="Site-content">
    {# <section class="form-container">
        <div class="container">
            <h2>Form</h2>
            <p>Please go through and fill your details to start the Project</p>
            <div class="row">
                <div class="col-xs-12 col-md-6 col-md-push-6">
                    <img alt="image" class="img-fluid" src="{{img}}/contact.svg">
                </div>

                <div class="col-xs-12 col-md-6 col-md-pull-6">
                    <form class="form-container">
                        <div class="row">
                            <div class="col-md-6">
                                <input type="text" class="form-control" placeholder="Name">
                            </div>
                            <div class="col-md-6">
                                <input type="email" class="form-control" placeholder="Email">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <select name="" id="input" class="form-control">
                                    <option value="0">Project Type</option>
                                    <option value="1">App Design</option>
                                    <option value="2">Website Design</option>
                                    <option value="3">Frontend Development</option>
                                    <option value="4">Branding</option>
                                </select>

                            </div>
                            <div class="col-md-6">
                                <select name="" id="input" class="form-control">
                                    <option value="0">Budget</option>
                                    <option value="1">100$ to 200$</option>
                                    <option value="2">200$ to 500$</option>
                                    <option value="2">500$ to 1000$</option>
                                </select>
                            </div>
                        </div>


                        <div class="row mt-4">
                            <div class="col-md-12">
                                <textarea class="form-control textarea" name="message" rows="6" placeholder="How can we help?"></textarea>
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-md-12">
                                <button class="button  button__fill">Send</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section> #}
</main>

{% endblock %}