{% extends '../_home.twig' %} {% block titletag %}Home {% endblock %} {% block bodytag %}


<main class="Site-content">
    <section class="hero-container">
        <div class="container">
            <div class="hero-section">
                <div class="hero-section__content">
                        <span class="hero-section__welcome">Hey There !</span>
                        <h1 class="hero-section__title">I’m Gursimran. I’m a UI Designer, Front-End Dev & YouTuber. I do</h1>
                        <ul class="hero-section__text">               
                            <li>Mobile App Design </li>
                            <li>Web Design </li>
                            <li >Front-end Development</li>
                            <li>Branding</li>
                        </ul>
                        <p class="paragraph">
                            I craft simple & clean design solutions for Companies and solopreneurs .I help them grow by creating engaging Solutions that
                            help in their business grow.Take a look at my projects.
                        </p>
                        {# <div class="hero-section__cta">
                            <a href="#" class="button  button__fill">Portfolio</a>
                            <a href="#" class="button  button__border">Services</a>
                        </div> #}
                </div>
            </div>
        </div>
    </section>
</main>

{% endblock %}