<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Gursimran design - {% block titletag %}{% endblock %}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=1.0, minimum-scale=1.0, maximum-scale=1.0">
    
    <link rel="stylesheet" href="css/all.min.css"> {# {% include 'partials/metas.twig' %} #}

    <script src="js/modernizr-2.8.3-respond-1.4.2.min.js"></script>
    <script src="js/jquery.js"></script>


</head>

<body>
    {% block bodytag %}{% endblock %}

    <script src="js/all.min.js"></script>
</body>

</html>